<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>

        <div id="entete">
            <div id="logoSociete">
                <a href="@{Application.index()}"><img src="/public/images/logoDND.jpg"></a>             
            </div>
            <div id="titreSite">Bienvenue sur le trombinoscope<br>de la SA DND</div>
                        
        </div> <!-- entete -->
        
        
        <div id="contenu">            
        #{doLayout /}
        </div> <!-- contenu -->
        
        
        
        <div id="piedDePage">
            <div id="mentionSociete">
                SA DND - Zone d'activités Azur 2000 - 14 rue Albert Einstein - 00123 AGILE-EN-FRANCE
            </div>
            <div id="mentionLegale">
                Ce site est géré par le logiciel Trombi
            </div>
        </div> <!-- piedDePage -->        
    </body>
</html>
